@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
$title-font: 'Shrikhand', serif; /*Logo and title*/
$main-font: 'Roboto', sans-serif; /*other texts*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray: #f2f2f2;
$shadow-gray: #dddddd;
$light-gray: #fafafa;
$btn-color: linear-gradient(172deg, $secondary-color 0%, $primary-color 86%);

@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin meal-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 10px 0px 10px 5px;
    box-shadow: 5px 5px 5px $shadow-gray;
    .fa-check-circle{
        padding: 10px;
        background-color: $tertiary-color;
        color: white;
    }
}


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: $main-font;
    a{
        text-decoration: none;
        font-family: $main-font;
    }
}
.header{
    width: 100%;
    box-shadow: 0px 3px 10px $shadow-gray;
    position: sticky;
        &__title{
            text-align: center;
            font-family: $title-font;
            font-size: 1.3rem;
            padding: 10px 0px 10px 0px;
        }
        & > .fas{
            display: none;
        }
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
        &__heading{
            @include flexbox-center;
            flex-direction: column;
            padding-bottom: 50px;
            background-color: $light-gray;
        }
}
.map{
    @include flexbox-center;
    width: 100%;
    background-color: $gray;
    font-size: 1.1rem;
    padding: 20px 0px 20px 0px;
    box-shadow: 1px 0px 2px $shadow-gray;
        &__pin{
            padding: 0px 15px 0px 0px;
        }
        &__name{
            font-family: $main-font;
        }
}
.slogan{
    @include flexbox-center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px 40px 0px;
        &__title{
            width: 50%;
            font-size: 1.8rem;
            text-align: center;
            font-weight: bolder;
        }
        &__subtitle{
            width: 50%;
            font-size: 1rem;
            text-align: center;
            font-weight: lighter;
            margin-top: 15px;
        }
}
.btn{
        &__title{
            color: white;
            font-size: 1.2rem;
        }
        &--style{
            padding: 15px 15px 15px 15px;
            background: $btn-color;
            border-radius: 50px;
            box-shadow: 1px 4px 4px 4px $shadow-gray;
        }
}
.heading--style{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    h2{
        font-size: 1.6rem;
        padding-left: 15px;
    }
}
.fonction{
    width: 100%;
    @include flexbox-center;
    flex-direction: column;
    padding: 30px 0px 30px 0px;
        &--style{ /*weird name because i couldn't find another name, its just a div to exclude the number of the background*/
            background-color: $light-gray;
            padding: 20px 50px 20px 0px;
            border-radius: 15px;
            margin-top: 20px;
            width: 260px;
            }
            .fas{  /*the icon next to the text*/
                color: grey;
                margin-right: 15px;              
            }
        
        &__number{
            background-color: $primary-color;
            color: white;
            font-weight: normal;
            border-radius: 50px;
            padding: 3px 8px 3px 8px;
            position: relative;
            left: -35px;
        }
        &__desc{
            font-size: 0.9rem;
            font-weight: bold;
        }
}
.fonction1, .fonction2, .fonction3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fonction2{
    .fas{
        position: relative;
        left: -7px;
    }
    .fonction__desc{
        position: relative;
        left: -10px;
    }
    .fonction__number{
        left: -40px;
    }
}
.fonction3{
    .fas{
        position: relative;
        left: -5px;
    }
    .fonction__desc{
        position: relative;
        left: -8px;
    }
}

.restaurants{
    width: 100%;
    flex-direction: column;
    @include flexbox-center;
    margin-bottom: 30px;
}
.article--style{
    box-shadow: 5px 5px 10px $shadow-gray;
    border-radius: 15px;
    margin: 20px 0px 15px 0px;
}
.store__card{
    position: relative;
}
.card{
    &__img{
    object-fit: cover;
    width: 290px;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
        &__new{
            position: absolute;
            background-color: $tertiary-color;
            top: 10px;
            right: 10px;
            border-radius: 3px;
            color: darken($tertiary-color, 40%);
            font-size: 0.9rem;
            font-weight: bolder;
            padding: 5px 10px 5px 10px;
        }
    }
}
.store__info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.info__desc{
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 0.8rem;
    margin: 10px 0px 10px 10px;
        &__subtitle{
            margin-top: 4px;
            font-weight: lighter;
        }
}
.info__like{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.5rem;
    color: black;
    padding-right: 10px;
        .liked{
            &--true{
                display: none;
            }
        }
}
.footer{
    width: 100%;
    background-color: darken($gray, 50%);
    padding-bottom: 40px;
        &__heading{
            padding: 30px 0px 10px 20px;
                a{
                color: white;
                font-family: $title-font;
                }
        }
        &__nav{
            ul{
                list-style-type: none;
                padding-left: 20px;
            }
            li{
                font-size: 1rem;
                margin-top: 3px;
                .fa-utensils{
                    margin-right: 7px;
                }
            }
            a{
                color: white;
            }
        }
}



/*PAGE DES RESTAURANTS*/

.container{
    background-image: test;
    object-fit: cover;
    width: 100%;
}
.store-menu{
    width: 100%;
    margin-top: 100px;
    border-radius: 30px 30px 0px 0px;
    background-color: $gray;
    padding-top: 15px;
}
.store{
    &__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    &__name{
        font-family: $title-font;
        padding-left: 10px;
    }
    &__like{
        padding-right: 30px;
        .liked-true{
            display: none;
        }
    }
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 0px 10px 30px 10px;
    margin-top: 20px;
    a{
        color: black;
    }
}
.list__title{
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
}
.entree1{
    @include meal-style;
}
.meal{
    &__title{
        font-size: 0.8rem;
        h4{
            font-weight: lighter;
        }
    }
    &__price{
        display: flex;
        align-items: flex-end;
        padding-right: 10px;
    }
}
.price-like{
    display: flex;
    flex-direction: row;
    >
    .fas{
        display: none;
    }
}
    
